<div class="box">
  <%= image_tag card.image.url(:square) %>
  <%= card.description %>
  <%= link_to 'Show', card %>
  <% if current_user == card.user %>
  <!-- Only show if logged in user created the card -->
    <%= link_to 'Edit', edit_card_path(card) %>
    <%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
