<div class="box">
  <%= link_to (image_tag card.image.url(:square)), card %>
  <p class="description">
    <%= card.description %>
  </p>
  <p><strong>Posted by <%= card.user.name %></strong></p>
  <%= link_to 'Show', card %>
  <% if current_user == card.user %>
  <!-- Only show if logged in user created the card -->
    <p>
      <%= link_to 'Edit', edit_card_path(card) %>
      <%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
