<div class="row">
  <div class="span6 offset2">
    <div class="well">
      <%= image_tag @card.image %>
      <p>
        <%= @card.description %>
      </p>
      <p>
        By: <%= @card.user.name %>
      </p>
      <% if current_user == @card.user %>
        <%= link_to 'Edit', edit_card_path(@card) %> |
      <% end %>
        <%= link_to 'Back', cards_path %>
    </div>
  </div>
</div>
